@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Comfortaa&family=DotGothic16&family=Geo&family=Julius+Sans+One&family=Quicksand:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1E1554;
  color: white;
  font-family: 'ABeeZee', sans-serif;
}

.container1 {
  padding-top: 30px;
  width: 80vw;
  /* background-color: #4d4676; */
}

.logo {
  font-size: 4vw;
  letter-spacing: 0.3vw;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

.navigationButtonsContainer {
  margin-left: auto;
  margin-right: 0vw;
  display: flex;
  justify-content: flex-end;
}

.navBarSpacer {
  flex-grow: 1;
}

.metaGridContainer {
  width: 80vw;
  min-height: 70vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  /* background-color: #2b2a35; */
  display: grid;
  grid-template-columns: 20vw 60vw;
  grid-template-rows: 10vw 60vw;
  grid-template-areas: 
    "blank syntax"
    "verbs tiles";
}

.lessonGridBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #1c77ff;
  animation-name: colorAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lessonGridContainer {
  position: relative;
  grid-area: tiles;
  /* margin-right: 0px;
  margin-left: auto; */
  display: grid;
  /* background-color: hsl(0, 0%, 100%); */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.syntaxContainer {
  grid-area: syntax;
  width: 60vw;
}

.syntaxItem {
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 10vw;
  transition: background-color .5s;
}

.highlightedSyntaxItem {
  background-color: #362983;
}

.verbContainer {
  grid-area: verbs;
}

.verbItem {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  transition: background-color .5s;
}

.highlightedVerbItem {
  background-color: #362983;
}

.lessonButtonsContainer {
  margin-left: auto;
  margin-right: 0vw;
  display: flex;
  justify-content: flex-end;
}

.tile {
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: scale .5s, border-radius .5s, background-color .2s, filter .5s, opacity 1.5s;
}

.metaTile {
  position: relative;
}

.scoreContainer {
  /* padding: 20%; */
  text-align: center;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 5vw;
  width: 100%;
  font-size: 4vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity .5s, visibility .5s;
}

.highlightedScore {
  opacity: 1;
}

.grade7 {
  background-color: #FA1CFF;
  /* filter: hue-rotate(45);
  animation-name: hueAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}

.grade6 {
  background-color: #DF1EF0;
}

.grade5 {
  background-color: #9C15DB;
}

.grade4 {
  background-color: #7B23D2;
}

.grade3 {
  background-color: #621BBB;
}

.grade2 {
  background-color: #411899;
}

.grade1 {
  background-color: #2D0582;
}

.grade0 {
  background-color: #210360;
}

.selected {
  background-color: #ffffff;
  opacity: 0%;
}

@keyframes hueAnimation {
  0% {
    filter: hue-rotate(45);
  }
  50% {
    filter: hue-rotate(-20deg);
  }
  100% {
    filter: hue-rotate(45);
  }
}

@keyframes colorAnimation {
  0% {
    background-color: #1c77ff;
  }
  50% {
    background-color: #1E1554;
  }
  100% {
    background-color: #1c77ff;
  }
}

.button1 {
  margin-left: 2vw;
  background-color: #2A3880;
  border: none;
  color: white;
  padding: 1.5vw 4vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vw;
  border-radius: 1vw;
  letter-spacing: 0.2vw;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
