@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Comfortaa&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1c154a;
  color: white;
  font-family: 'Comfortaa', cursive;
  /* font-family: 'ABeeZee', sans-serif; */
}

.container1 {
  padding: 10px;
  background-color: #1c154a;
}

.container2 {
  padding: 10px;
  background-color: #1c154a;
  width: 70vw;
  
}

.gridWrapper {
  margin: 30px;
  display: grid;
  width: 50vw;
  height: 50vw;
  background-color: #ffffff;
}

.gridWrapper > div {
  margin: 0px;
}

.grade7 {
  filter: hue-rotate(45);
  opacity: 1;
  animation-name: testAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes testAnimation {
  0% {
    filter: hue-rotate(45);
  }
  50% {
    filter: hue-rotate(-20deg);
  }
  100% {
    filter: hue-rotate(45);
  }
}
